<div style="color: red" *ngIf="error$ | async as error">
  {{error}}
</div>
<div class="row vh-100" style="padding-top: 30px; padding-bottom: 20px">
  <div fxLayout="row" fxFlex style="padding: 20px" fxLayoutGap="10px">
    <div fxLayout="column" fxFlex="20">
      <mat-card fxFlex>
        <mat-card-header><h5>Stocks</h5></mat-card-header>
        <mat-card-content>
          <ol>
            <li *ngFor="let stocks of stocks"  (click)="selectStock(stocks)">
              {{stocks.name}}
              ,{{''+stocks.value}}
            </li>
          </ol>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row vh-100" style="padding-top: 30px; padding-bottom: 20px">
    <div fxLayout="row" fxFlex style="padding: 20px" fxLayoutGap="10px">
  <div class="col-4" *ngIf="selectedStock">
    <mat-card fxFlex>
      <mat-card-header><h5>Detail</h5></mat-card-header>
      <mat-card-content>
        <div class="stock-detail h-100" *ngIf="selectedStock as stock else noStockSelected">
          <h4 class="text-center">{{stock.name}}</h4>
          <div>
            <strong>Description:</strong>
            <p>{{stock.description}}</p>
          </div>
          <form class="form-inline">
            <div class="input-group">
              <input type="number" class="form-control" [formControl]="priceFc">
              <button type="button" (click)="changePrice()" class="btn btn-primary ml-1">save price</button>
            </div>
          </form>
        </div>
        <ng-template #noStockSelected><h5>No Stock is selected</h5></ng-template>
      </mat-card-content>
      <div class="card-footer" *ngIf="selectedStock">
        <button type="button" (click)="updateStock()" class="btn btn-warning ml-1">Update</button>
        <button type="button" (click)="deleteStock()" class="btn btn-danger ml-1">Delete</button>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-card><button type="button" [routerLink]="'/stocks/create'"  class="btn btn-primary ml-1">Create stock</button></mat-card></div>
</div>
</div>
</div>
